body {
  font-family: 'Cardo', serif;
}

.navAP {
  text-align: center;
  height: 100px;
  padding-top: 10px;
  background-color: #F8F8F8;
  border-top: 4px solid #464646;
  border-bottom: 1px solid #E6E6E6;
}

.navText {
  margin: auto;
  font-size: 32px;
}

.navTextSmall {
  text-align: center;
  font-size: 16px;
}

.images {
  margin: auto;
  width: 65%;
}

.images img {
  padding-top: 50px;
}

p {
  padding-top: 3px;
  font-size: 15px;
}

.bottom {
  padding-bottom: 200px;
}
